@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-buttom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100 !important;
  overflow-x: auto !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 15px !important;
  overflow-x: auto !important;
}
